<!DOCTYPE html>
<block xmlns:th="http://www.w3.org/1999/xhtml">

    <table>
<!--    <tr>-->
<!--        <td>-->
<!--            <button th:onclick="|location.href='@{/register}'|">등록하기</button>-->
<!--        </td>-->
<!--    </tr>-->

    <tr>
        <td>
            <form th:action="@{'/add'}" method="post" th:object="${day}">
                <input type="text" th:field="*{name}" placeholder="이름">
                <input type="text" th:field="*{month}" placeholder="월">
                <input type="text" th:field="*{day}" placeholder="일">
                <span><button>등록하기</button></span>
            </form>
        </td>
    </tr>

    <tr>
        <td>
            <div>
                <form th:method="get" th:action="@{/list}">
                    <select class="dropdown" name="searchType">
                        <option th:each="searchType : ${T(happy.bday2.dto.search.SearchType).values()}"
                                th:value="${searchType}" th:text="${searchType.searchName}"></option>
                    </select>

                    <div class="search-bar">
                        <input id="search-input" name="keyword" th:value="${keyword}">
                    </div>
                    <button class="btn_search" type="submit">
                        검색하기
                    </button>
                </form>

            </div>
        </td>
    </tr>
</table>

</block>